*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
   a{
    text-decoration: none;
  }
}
.container,.container-search-area{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
body {
  font-family: Arial, sans-serif;
}
nav{
  border-bottom: 1px solid #0000000d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  position: relative;
}
.logo{
  width: bold;
  background-color: #00642d;
  color: #fff;
  padding: 0.5em;
}
.menu{
  display: flex;
  gap: 20px;
  list-style: none;
 a{
   color: #000;
   transition: color 0.3s;
 }
}
.menu a:hover {
  color: #00642d;
}
.icon-bar a{
  color: #000;
}
.icon-bar a:nth-child(1):hover{
  background-color: #e6e6e6;
}
.icon-bar a:nth-child(2):hover{
  background-color: #056b00;
}


.icon-bar a:nth-child(1){
  background-color: #f1f6fc;
  padding: 0.5em;
  border-radius: 5px;
  border: 0.5px solid #a0a4a8;
  transition: background-color 0.3s;
}
.icon-bar a:nth-child(2){
  background-color: #089900;
  padding: 0.5em;
  border-radius: 5px;
  color: #f0f0f0;
  transition: background-color 0.3s;
}
.fa-solid{
  color: #00642d;
}
.icon-cart,.toggle-icon {
  display: none;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 60px;
  left: -100%;
  width: 70%;
  height: calc(100vh - 60px);
  background-color: #f2f2f2;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  z-index: 999;
  a{
    color: #000;
}
   
}
.menu-mobile {
  list-style: none;
  padding: 1rem 0rem;
}
.menu-mobile a {
  font-size: 1.2rem;
  display: block;
  padding: 0.5rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}
  
.menu-submit{
  list-style: none;
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  border-bottom: 1px solid #a0a4a8;
  a{
    font-size: 1.5rem;
    padding: 1rem;
  }
}
.menu-mobile a:hover {
  background-color: #089900;;
  color: #fff;
  li{
    width: 100%;
  }
}
/* ---- NAV END ---- */

/* ---- SEARCH AREA START ---- */
.search-area-bg{
  width: 100%;
  height: 50vh;
  background-image: url("assets/bg-b.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;     /* จัดกึ่งกลางแนวตั้ง (ต้องระบุความสูงของ section ด้วย) */
}
.container-search-area{
  padding: 0 0.5rem;
}
.container-search-area h1{margin-bottom: 0.5rem;}
.container-search-area p{margin-bottom: 1rem;}

.break-line{
  border-top: 1px solid #bdbdbd;
  width: 440px;
  margin-bottom: 0.5rem;
}
.submit-area{
  background-color: #ffffff;
  box-shadow: 1px 1px 5px black;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  width: 500px;
}

.submit-area select{
  padding: 10px;
  border: 2px solid #ddd;
  transition: 0.5s;
  margin-bottom: 0.5rem;
   border-radius: 8px;
}
.submit-area select:hover {
  border-color: #009666;
  background-color: #f5f5f5;
  color: #00642d;
}
.submit-area select:focus {
  outline: none;
  border-color: #009666;
  box-shadow: 0 0 0 3px rgba(0, 150, 102, 0.1);
}
.submit-area   {
  option{
    background: #ededed;
    padding: 10px;
    font-size: 1rem;
  }
  option:nth-of-type(odd) {
  background: white;
  }
}
.submit-area option:checked {
  background: #009666;
  color: white;
}

/* --- CATEGORY DROPDOWN END --- */

/* SEARCH */
form {
  .search-box {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    margin: 0;
    margin-right: 0.5rem;
    background-color: #ebebeb;
  }
  input[type="search"]{
    border-color: 1px solid #009666;
    margin: 0;
    
  }
  .find-plant-btn{
 background-color: #089900;
  padding: 1em;
  border-radius: 5px;
  color: #f0f0f0;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  }
}
.search-box:focus{
  outline: none;
}
/* ---- SEARCH AREA END ---- */

/* mobile */
@media only screen and (max-width:650px) {
.menu{
  display: none;
}
.toggle-icon{
  display: block;
}
.icon-cart{
  display: block;
  a{
    color: #000;
  }
}
.icon-bar {
  display: none;
}
.mobile-menu{
  display: block;
}
.mobile-menu.active {
  left: 0;
}
.nav-left{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.menu-submit a {
  transition: color 0.5s;

}
.menu-submit a:hover{
  color: #00642d;
}
/* END NAV */


/* START FORM SEARCH */
.container-search-area{
  text-align: center;
  align-items: center;
  
}
.break-line{
  display: none;
}
.search-box{
  margin-right: 0;
}
  .submit-area{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
  }
 
     
     form input[type="search"]{
       margin-bottom: 1rem;
      }
  


}