*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
   a{
    text-decoration: none;
  }
}
.container,.container-search-area{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
body {
  font-family: Arial, sans-serif;
}
nav{
  border-bottom: 1px solid #0000000d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  position: relative;
}
.logo{
  width: bold;
  background-color: #00642d;
  color: #fff;
  padding: 0.5em;
}
.menu{
  display: flex;
  gap: 20px;
  list-style: none;
 a{
   color: #000;
   transition: color 0.3s;
 }
}
.menu a:hover {
  color: #00642d;
}
.icon-bar a{
  color: #000;
}
.icon-bar a:nth-child(1):hover{
  background-color: #e6e6e6;
}
.icon-bar a:nth-child(2):hover{
  background-color: #056b00;
}


.icon-bar a:nth-child(1){
  background-color: #f1f6fc;
  padding: 0.5em;
  border-radius: 5px;
  border: 0.5px solid #a0a4a8;
  transition: background-color 0.3s;
}
.icon-bar a:nth-child(2){
  background-color: #089900;
  padding: 0.5em;
  border-radius: 5px;
  color: #f0f0f0;
  transition: background-color 0.3s;
}
.fa-solid{
  color: #00642d;
}
.icon-cart,.toggle-icon {
  display: none;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 60px;
  left: -100%;
  width: 70%;
  height: calc(100vh - 60px);
  background-color: #f2f2f2;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  z-index: 999;
  a{
    color: #000;
}
   
}
.menu-mobile {
  list-style: none;
  padding: 1rem 0rem;
}
.menu-mobile a {
  font-size: 1.2rem;
  display: block;
  padding: 0.5rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}
  
.menu-submit{
  list-style: none;
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  border-bottom: 1px solid #a0a4a8;
  a{
    font-size: 1.5rem;
    padding: 1rem;
  }
}
.menu-mobile a:hover {
  background-color: #089900;;
  color: #fff;
  li{
    width: 100%;
  }
}
/* ---- NAV END ---- */

/* ---- SEARCH AREA START ---- */
.search-area-bg{
  width: 100%;
  height: 50vh;
  background-image: url("assets/bg-b.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;     /* จัดกึ่งกลางแนวตั้ง (ต้องระบุความสูงของ section ด้วย) */
}
.container-search-area{
  padding: 0 0.5rem;
}
.container-search-area h1{margin-bottom: 0.5rem;}
.container-search-area p{margin-bottom: 1rem;}

.break-line{
  border-top: 1px solid #bdbdbd;
  width: 440px;
  margin-bottom: 0.5rem;
}
.submit-area{
  background-color: #ffffff;
  box-shadow: 1px 1px 5px black;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  width: 500px;
}
select,::picker(select) {
  appearance: base-select;
}
select:open::picker-icon{
  transform: rotate(180deg);
}
.submit-area select{
  padding: 10px;
  border: 2px solid #ddd;
  transition: 0.5s;
  margin-bottom: 0.5rem;
   border-radius: 8px;
}
.submit-area select:hover {
  border-color: #009666;
  background-color: #f5f5f5;
  color: #00642d;
}
.submit-area select:focus {
  outline: none;
  border-color: #009666;
  box-shadow: 0 0 0 3px rgba(0, 150, 102, 0.1);
}
.submit-area   {
  option{
    background: #ededed;
    padding: 10px;
    font-size: 1rem;
  }
  option:nth-of-type(odd) {
  background: white;
  }
}
.submit-area option:checked {
  background: #009666;
  color: white;
}

/* --- CATEGORY DROPDOWN END --- */

/* SEARCH */
form {
  .search-box {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    margin: 0;
    margin-right: 0.5rem;
    background-color: #ebebeb;
  }
  input[type="search"]{
    border-color: 1px solid #009666;
    margin: 0;
    
  }
  .find-plant-btn{
 background-color: #089900;
  padding: 1em;
  border-radius: 5px;
  color: #f0f0f0;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  }
}
.search-box:focus{
  outline: none;
}
/* ---- SEARCH AREA END ---- */
.special-offer-area{
  max-width: 1200px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.grid-offer-area{
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 200px 200px;
  gap: 1em;
  grid-template-areas: 
  "box-1 box-1 box-2"
  "box-1 box-1 box-3";
  justify-content: center;

  border-radius: 5px;
  background-color: #fafafa;

  padding: 1em;
}
/* .grid-offer-area > div{
} */
  
.box-1{
  grid-area: box-1;
  background-image: url("assets/img/bg-plants.webp");
  p{
    color: #000;
    font-size: 1em;
  }

}
.box-special-offer{
position: relative;
  padding: 1em;
  background-repeat: none;
  background-size: cover;
  opacity: 0.9;
  border-radius: 5px;
  
  h1{
    font-size: 1.5em;
    color: #f0f0f0;
    text-shadow: 1px 1px 2px #000;
  }
  h1::nth-child(1){
    color: #333;
  }
}
.box-2{
  grid-area: box-2;
  background-image: url("assets/img/bg-plant-set.jpg");
}
.box-3{
  background-image: url("assets/img/bg-discount.webp");
  grid-area: box-3;
}
.btn-box-1{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.btn-box-3{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.btn-box-1,.btn-box-3{
  background-color: #fafafa;
  box-shadow: 2px 3px 5px rgb(83, 83, 83);
  border: none;
  padding: 1em 1.5em;
  border-radius: 30px;
  font-size: 1em;
  cursor: pointer;
  color: #000;
  font-weight: bold;
}
.button-overlay{
  transition: all 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0;
  opacity: 0;
  width: 100%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5em;
    a{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.2em;
  }
 
}
.box-2:hover .button-overlay{
    height: 70px; /* Expand height on hover */
    opacity: 1;
}

/* card-container */
.card-container{
  max-width: 1200px;
  width: 100%;
  height: 50vh;
  margin: 0 auto;
  /* background-color: #e1e1e1; */
}
.cards-area{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
 
.product-card{
  width: 50px;
  height: 50px;
  background-color: #056b00;
}

.product-card-area{
  width: 100%;
  padding: 0.5em 1em;
  max-width: 300px;
  height: 100%;
  background-color: #f4fff6;
    margin: 0 auto;
}
.product-card-img{
  text-align: center;
  width: 100%;
}
.product-card-img img{
  border-radius: 5px;
  width: 100%;
  display: block;
  
}
.product-card-text-area{
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0.5em;
  width: 100%;
  max-width: 300px;
  position: relative;
  margin-top: -10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}
.card-text-title h4{
  font-size: 1.2em;
  margin-bottom: 0.25em;
}
.card-text-type {
  margin-bottom: 0.5em;
    span{
    border: 1px solid #333;
    padding: 0.2em;
    margin-bottom: 0.5em;
  }
} 
.card-text-describe{
  font-size: 0.9em;
  margin-bottom: 0.5em;
    span{
      font-weight: bold;
    }
}

.card-text-cart-area
span{
  font-weight: 600;
}
button{
  background-color: #009666;
  width: 100%;
  border: none;
  padding: 1em;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}
 .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: transparent;
      display: flex;
      /* justify-content: flex-start; */
      align-items: stretch;
      ;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
   
/* mobile */
@media only screen and (max-width:640px) {
.menu{
  display: none;
}
.toggle-icon{
  display: block;
}
.icon-cart{
  display: block;
  a{
    color: #000;
  }
}
.icon-bar {
  display: none;
}
.mobile-menu{
  display: block;
}
.mobile-menu.active {
  left: 0;
}
.nav-left{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.menu-submit a {
  transition: color 0.5s;

}
.menu-submit a:hover{
  color: #00642d;
}
/* END NAV */


/* START FORM SEARCH */
.container-search-area{
  text-align: center;
  align-items: center;
}
.break-line{
  display: none;
}
.search-box{
  margin-right: 0;
}
.submit-area{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
}
form input[type="search"]{
  margin-bottom: 1rem;
}
      
/* special offer area */

.grid-offer-area{
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;

  border-radius: 5px;
  background-color: #fafafa;

  padding: 1em;
}
.box-1{
  height: 300px;
}
.box-2,.box-3{
  height: 250px;
}

.cards-area{
  grid-template-columns: 1fr 1fr;
}
.swiper {
  height: 500px;
}
}

