*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
   a{
    text-decoration: none;
  }
}
body {
  font-family: Arial, sans-serif;
}
nav{
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  width: 100%;
  height: 60px;
   margin: 0 auto;
   position: relative;
}

.menu{
  display: flex;
  gap: 20px;
  list-style: none;
 a{
   color: #000;
   transition: color 0.3s;
 }
}
.menu a:hover {
  color: #00642d;
}
.icon-bar{
   a{
    color: #000;
  }
}
.toggle-icon {
  display: none;
  
}
.mobile-menu {
 display: none;
  position: fixed;
  top: 60px;
  right: -100%;
  width: 75%;
  height: calc(100vh - 60px);
  background-color: #b1b1b1;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 999;
}
.menu-mobile {
  list-style: none;
  padding: 2rem 1.5rem;
}
.menu-mobile a {
  font-size: 1.2rem;
  display: block;
  padding: 0.5rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.menu-mobile a:hover {
  background-color: #f0f0f0;
}


/* mobile */
@media only screen and (max-width:650px) {
.menu{
  display: none;
}

.toggle-icon{
  display: block;
  a{
    color: #000;
  }
}
.icon-bar {
  display: none;
}
.mobile-menu{
  display: block;
}
.mobile-menu.active {
  right: 0;
}
}