* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;

    a {
      text-decoration: none;
    }
  }
.container-area{
  display: grid;
  height: 100vh;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "sidebar main"
  "sidebar main" ;
  
}
.filter-product{
  grid-area: sidebar;
  border-right: 1px solid #ddd;
}
.product-display{
  grid-area: main;
  background-color: #f9f9f9;
  padding: 20px;
}
.product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.card-grid-container{
  margin: 0 auto;
}
/* card grid */
.card-area{
  border: 1px solid #ddd;
  max-width: 350px;
  p{
    font-weight: 600;
  }
}
.description,.name{
  width: 250px;
}
.img-card img{
  height: 250px;
  width: 250px;
  height: auto;
  border-radius: 5px;
}
.pagination-btn{
  margin: 2rem;
  display: flex;
  gap:1rem;
  justify-content: center;
}
/* =================== price-range-area =================== */
.price-range-area{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.price-input{
  margin-top: 0.2rem;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.range-slider{
  position: relative;
  width: 100%;
  height: 5px;
  margin: 30px 0;
  background-color: #8a8a8a;
}
.slider-track{
  height: 100%;
  position: absolute;
  background-color: red;
}
.range-slider input{
  position: absolute;
  width: 100%;
  appearance: none;
  background: none;
  pointer-events: none;
  top: 50%;   /* point to center */
  transform: translateY(-50%);

}
input[type="range"]::-webkit-slider-thumb{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 3px solid #fff;
  background: #fff;
  pointer-events: auto;
  appearance: none;
  cursor: pointer;
  box-shadow: 0 0.1rem 0.5rem -0.1rem #000;
}
