.menu-sidebar {
  display: flex;
  flex-direction: column;
  li{
    color: #0a0a0a;
    list-style: none;
    cursor: pointer;
    a{
      display: block;
      width: 100%;
      text-decoration: none;
      color: #000000;
      padding: 1rem 1rem;
    }
  }
}

.menu-sidebar li:hover{
  background-color: #eeeeee;
}