#myLoginModal{
  
  margin: 13rem auto;
  border: none;
  padding: 1rem;
  border-radius: 5px;
 
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
#myRegisterModal{
  margin: 13rem auto;
  border: none;
  padding: 1rem;
  border-radius: 5px;
 
}
.modal-top{
  display: flex;
  justify-content: flex-end;
  span{
    cursor: pointer;
    font-size: 1.5rem;
  }
}
.modal-title{
  text-align: center;
}
.email-invalid{
  display: none;
  color: red;
  font-size: 0.7rem;
}
.pwd-invalid{
  display: none;
  color: red;
  font-size: 0.7rem;
}
.modal-input{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  input{
    padding: 0.8rem 1rem;
    letter-spacing: -0.5px;
  }
  input:focus{
    outline: none;
    border-color: #02b754;
  }
}
#modal-submit:hover{
  background-color: #007a53;
}
.modal-rememberMe{
  display: flex;
  justify-content: space-between;
  input ,label,span{
    cursor: pointer;
  }
}
.modal-title h2{
  margin-bottom: 0.5rem;
}
.modal-title-bottom{
  display: flex;
  justify-content: center;
  a{
    color: #02b754;
  }
}
.modal-title-bottom{
  a{
    text-decoration: none;
  }
}