#myLoginModal{
  max-width: 700px;
  width: 50%;
  margin: 13rem auto;
  border: none;
  padding: 1rem;
  border-radius: 5px;
 
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
#myRegisterModal{
  max-width: 700px;
  width: 50%;
  margin: 13rem auto;
  border: none;
  padding: 1rem;
  border-radius: 5px;
 
}
.modal-top{
  display: flex;
  justify-content: flex-end;
  span{
    cursor: pointer;
    font-size: 1.5rem;
  }
}
.modal-title{
  text-align: left;
  margin-bottom: 1.5rem;
}
.email-invalid{
  display: none;
  color: #a01a24;
  font-size: 0.8rem;
}
.pwd-invalid{
  display: none;
  color: #a01a24;
  font-size: 0.7rem;
}
.modal-input{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  input{
    border-color: azure;
    border-radius: 5px;
    padding: 0.8rem 1rem;
    letter-spacing: -0.5px;
     outline: none; 
     border: 2px solid grey; 
    }
    input:focus{
      outline: none;
    border: 2px solid #059669;
  }


.input-error{
    border: 1.5px solid #a01a24;
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.4);
    
  }
}
#modal-submit:hover{
  background-color: #007a53;
}
.modal-rememberMe{
  display: flex;
  justify-content: space-between;
  input ,label,span{
    cursor: pointer;
  }
  span:hover{
    border-bottom: 1px solid #000;
  }
}
.modal-title h2{
  margin-bottom: 0.5rem;
  label{
    font-weight: 600;
  }
}
.modal-title-bottom{
  display: flex;
  justify-content: center;
  a{
    color: #02b754;
  }
}
.modal-title-bottom{
  a{
    text-decoration: none;
  }
}