*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

.sidebar {
  grid-area: sidebar;
  border-right: 1px solid #ddd;
}

.header {
  grid-area: header;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.main-content {
  grid-area: main;
  background-color: #f9f9f9;
  padding: 20px;
}

.sub-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 15px 1rem;
  border-bottom: 1px solid #eee;
  button{
    cursor: pointer;
    padding: 0.5rem;
    background-color: #0a57d1;
    color: #ddd;
    border-radius: 5px;
    border: none;
  }
}
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
  margin-top: 20px;
}

.naming-details, .order-details ,.category-details,.media-details,.pricing-details{
  background: white;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid #eee;
  input{
    border-radius: 5px;
    padding: 0.5rem;
    border-color: #ccc;
    border-style: solid;
    outline: none;
    font-size: 1rem;
  }
input:focus {
  border-color: #6366f1; 
}

  h3{
    color: #0a0a0a;
    font-size: 1.3rem;
  }
  label{
    color: #cccccc;
  }
}
.naming-details{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  }

@media only screen and (max-width:850px) {
  .form-grid{
    grid-template-columns: 1fr;
  }
}