<nav>
      <div class="nav-left">
        <div class="toggle-icon">
          <a href="#"><i id="toggle-bar" class="fa-solid fa-bars"></i></a>
        </div>
        <div class="logo">Plant 
        </div>
        
      </div>
      <ul class="menu">
        <li><a href="/Frontend/src/pages/user/Home.html">Home</a></li>
        <li><a href="/Frontend/src/pages/user/ProductAll/productAll.html">Product</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="/Frontend/src/pages/user/Cart/cart.html">Shopping carts<i id="toggle-cart-shopping" class="fa-solid fa-cart-shopping"><span class="cart-number">0</span></i></a></li>
      </ul>
      
       <div class="icon-bar">
        <a class="active" href="#" id="btn-login" >Profile</a>
        <a class="active" href="#" id="btn-logout">Logout</a>
      </div>
      
      <div class="icon-cart">
        <a href="#"><i id="toggle-cart-shopping" class="fa-solid fa-cart-shopping"></i></a></li>
      </div>
      
  </nav>
  <!-- Mobile Menu Overlay -->
  <div class="mobile-menu">
    <ul class="menu-submit">
      <li><a href="#" id="btn-login-mobile">Profile</a></li>
      <li><a href="#" id="btn-logout">Logout</a></li>
    </ul>

    <ul class="menu-mobile">
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#"><i id="toggle-cart-shopping" class="fa-solid fa-cart-shopping"></i>Shopping Carts</a></li>
    </ul>
  </div>
